/*!
 * Start Bootstrap - SB Admin v4.0.0-alpha (http://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */
body {
  background: rgba(41, 43, 44,0.5);

}

body.fixed-nav {
  padding-top: 54px; }
  @media (min-width: 992px) {
    body.fixed-nav {
      padding-top: 56px; } }

.content-wrapper {

   }
  @media (min-width: 992px) {
    .content-wrapper {
      margin-left: 250px; } }

.scroll-to-top {
  line-height: 45px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(41, 43, 44, 0.5); }
  .scroll-to-top:hover, .scroll-to-top:focus {
    color: white; }
  .scroll-to-top:hover {
    background: #292b2c; }

.smaller {
  font-size: .7rem; }

.o-hidden {
  overflow: hidden !important; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

.card-block-icon {
  font-size: 5rem;
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

@media (min-width: 576px) {
  .card-columns {
    column-count: 1; } }

@media (min-width: 768px) {
  .card-columns {
    column-count: 2; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2; } }

.navbar-inverse input.form-control {
  border-color: #eceeef; }

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .nav-link-collapse:after {
    font-family: 'FontAwesome';
    float: right;
    content: '\f107';
  }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .nav-link-collapse.collapsed:after {
    content: '\f105'; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level,
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level {
    padding-left: 0; }
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a,
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a {
      display: block;
      padding: .5em 0;
      color: #636c72; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a:hover,
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a:focus,
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a:hover {
        text-decoration: none;
        color: #eceeef; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a {
    padding-left: 1em; }
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-third-level > li > a {
    padding-left: 2em; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    position: relative;
    min-width: 45px; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      font-family: 'FontAwesome';
      float: right;
      width: auto;
      content: '\f105';
      color: #464a4c;
      border: none; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .new-indicator {
      font-size: 1.1rem;
      position: absolute;
      top: 0;
      right: 25px; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .new-indicator .number {
        font-size: .5rem;
        position: absolute;
        top: 6px;
        left: 0;
        width: 22.625px;
        text-align: center;
        color: white; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '\f107'; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis; }

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px; }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none; }
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav {
      position: absolute;
      top: 0;
      left: 0;
      overflow: auto;
      flex-direction: column;
      height: 100vh;
      margin-top: 56px;
      padding-bottom: 56px;
      background: rgba(41, 43, 44,0.9);
      -webkit-flex-direction: column;
      -ms-flex-direction: column; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item {
        width: 250px;
        padding: 0; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item > .nav-link {
          padding: 1em; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level,
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level {
          padding-left: 0;
          list-style: none;
          background: rgba(41, 43, 44,0.9); }
          #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li,
          #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level > li {
            width: 250px; }
            #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li > a,
            #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level > li > a {
              padding: 1em; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li > a {
          padding-left: 2em; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level > li > a {
          padding-left: 3em; }
      #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a {
        color: white;
        background-color: #464a4c; }
        #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a:hover, #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a:focus {
          color: white; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        width: 24px;
        text-align: center; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px; } }
