<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Progetto SDCC </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- Stili aggiuntivi CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/select2.css">
    <link href="css/angular-datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="dist/select.css" rel="stylesheet" type="text/css"/>

</head>

<body id="page-top" ng-app="myApp" ng-controller="indexController">

<!-- Navigation -->
<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse back">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">Progetto SDCC {{url1}}</a>
    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="sidebar-nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/register"><i class="fa fa-fw fa-address-book"></i> Registrazione</a>
            </li>
            <li class="nav-item" ng-if="!isLogged">
                <a class="nav-link" href="#!/login"><i class="fa fa-fw fa-user"></i> Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-if="isLogged && isOp && !isAd" href="#!/checkSignals"><i class="fa fa-fw fa-exclamation-triangle"></i> Controllo Segnalazioni</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-if="isLogged && isAd && !isOp" href="#!/assignSignals"><i class="fa fa-fw fa-exclamation-triangle"></i> Assegnazione Segnalazioni</a>
            </li>
            <li class="nav-item" ng-if="isLogged">
                <a class="nav-link" ng-click="logout()" href="#!/login"><i class="fa fa-fw fa-user"></i>Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" ng-if="isLogged">
            <li class="nav-item"  >
                <a class="nav-link""><i class="fa fa-fw fa-user"></i>
                    Benvenuto {{user.email}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" ng-if="!isLogged">
            <li class="nav-item"  >
                <a class="nav-link""><i class="fa fa-fw fa-user"></i>
                Benvenuto, effettua il login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-wrapper py-3">
    <div class="container-fluid mt-5">
        <div ng-view></div>
    </div>
</div>

<script type="text/javascript" src="config.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/tether/tether.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this template -->
<script src="js/sb-admin.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>

<script src="js/angular-route.js"></script>
<script src="js/navigation.js"></script>


<script src="js/service/serviceToBackend.js"></script>


<script src="js/service/serviceUser.js"></script>


<script src="js/controllers/registerCtrl.js"></script>
<script src="js/controllers/assignCtrl.js"></script>
<script src="js/controllers/checkCtrl.js"></script>
<script src="js/controllers/loginCtrl.js"></script>
<script src="js/controllers/controllerHome.js"></script>
<script src="js/controllers/indexController.js"></script>
<script src="js/ng-map.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmREJ-IjJzv5d1IAHKubBk581OnRslNYw"></script>
<script src="script-tags-for-development.js"></script>


<script src="js/select2.js"></script>
<script src="js/src/select2.js"></script>


<script src="js/angular-locale_lt.js"></script>
<script src="dist/select.js"></script>
<script src="dist/angular-sanitize.js"></script>


</body>

</html>