<div ng-controller="loginCtrl">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope m-0 card3">
            <h3 class="head">Login</h3>
        </div>
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
            <div class="row">
                <div class="col-md-2 margine">
                    </div>
                    <div class="col-md-8 breadcrumb ng-scope m-2 card3">
                        Inserisci Email e Password
                        <div></div>
                        <form>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="email" type="text" class="form-control" ng-model="email" name="email" placeholder="Email">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" ng-model="password" name="password" placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 margine">
                        <button class="addProducts" ng-click="login()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>