<div ng-controller="homeCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active">My Dashboard</li>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-success o-hidden h-100">
                <div class="card-block" ng-init="addResult1()">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-product-hunt"></i>
                    </div>
                    <div class="mr-5">
                        Prodotti: {{index1}}
                    </div>
                </div>
                <div class="card-footer clearfix small z-1">
                    <p ng-repeat="result in result1">
                        {{result}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-warning o-hidden h-100">
                <div class="card-block" ng-init="addResult2()">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-product-hunt"></i>
                    </div>
                    <div class="mr-5">
                        Prodotti: {{index2}}
                    </div>
                </div>
                <div class="card-footer clearfix small z-1">
                    <p ng-repeat="result in result2">
                        {{result}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-success o-hidden h-100">
                <div class="card-block" ng-init="addResult3()">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-cutlery"></i>
                    </div>
                    <div class="mr-5">
                        Piatti: {{index3}}
                    </div>
                </div>
                <div class="card-footer clearfix small z-1">
                    <p ng-repeat="result in result3">
                        {{result}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-danger o-hidden h-100">
                <div class="card-block" ng-init="addResult4()">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-cutlery"></i>
                    </div>
                    <div class="mr-5">
                        Piatti: {{index4}}
                    </div>
                </div>
                <div class="card-footer clearfix small z-1">
                    <p ng-repeat="result in result4">
                        {{result}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" ng-init="getLastReport()">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Ultimi report disponibili:
        </div>


        <div class="card ng-scope head card3 ml-3 mr-3 mt-3" ng-repeat="report in lastReports">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="width: 100%" class=" card ng-scope head card5">{{report.replace(".pdf","")}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a target="_self" href="http://localhost:8080/report/download={{user}}/{{report}}" download>
                        <button class="download">
                        </button>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="card ng-scope head card5 m-3" ng-if="lastReports.length==0">Reports non disponibili</div>
        <div class="card-footer small text-muted">
            {{datetime}}
        </div>
    </div>
</div>