<script type="text/javascript" src="config.js"></script>
<div ng-controller="registerCtrl">
    <div class="card ng-scope head card2">
        <div class="breadcrumb ng-scope m-0 card3">
            <h3 class="head">Registrazione</h3>
        </div>
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
            <div class="row">
                <div class="col-md-2 margine">
                    </div>
                    <div class="col-md-8 breadcrumb ng-scope m-2 card3">
                        Compila i seguenti campi per la registrazione:
                        <div> </div>
                        <form name = "myform">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="text" type="text" class="form-control" name="name" ng-model="name" placeholder="Nome">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="text" type="text" class="form-control" name="surname" ng-model="surname" placeholder="Cognome">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password" ng-model="password" placeholder="Password" >
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="email" type="text" class="form-control" name="email" ng-model="email"  placeholder="Email">
                            </div>
                            <label for="sel1">Seleziona un ruolo:</label>
                            <select  name="role"ng-model="selectedRole" ng-options="x for x in roles" class="form-control" id="sel1" placeholder="Ruolo" >
                            </select>
                        </form>
                    </div>
                    <div class="col-md-2 margine">
                        <button class="addProducts" ng-click="register()">Registrati</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>