<div ng-controller="checkCtrl">
    <meta name="viewport" content="initial-scale=1.0">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="card ng-scope head card2">

        <div class="breadcrumb ng-scope m-0 card3">
            <h3 ng-init="start()" class="head">Controllo segnalazioni</h3>
        </div>
        <div class="container">
            <div class="row"margine bigrow card ng-scope head card3">
            <div class="col-md-8 margine bigrow card ng-scope head card3">
                <ng-map center="[{{startLatitude}},{{startLongitude}}]" zoom={{startZoom}} style="height:435px" >
                    <marker position="[{{selectedLatitude}},{{selectedLongitude}}]" on-click="map.showInfoWindow(event, 'bar')">
                        <!--<div>
                            <img width="100" src="{{imgUrl}}" align="left" />{{title}}<br/>
                            <img width="300" src="http://cdn.cstatic.net/images/gridfs/53b42fd3f92ea17d970280b4/Screen%20Shot%202014-07-02%20at%2012.07.54%20PM.png" />
                            <br/>
                        </div>-->
                    </marker>
                    <info-window id="bar" max-width="300">
                        <div>
                            <img width="100" src="{{imgUrl}}" align="left" />
                            <h6>{{title}}</h6><br/>
                            {{message}}
                            <div><br/>Topic: {{topic}}</div>
                            <div><br/>Stato: {{currentState}}</div>
                        </div>
                    </info-window>
                </ng-map>


                <!--<div id="map" ></div>
                $scope.initMap = function () {
    $scope.map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 41.8577, lng: 12.6273},
        zoom: 5,
        streetViewControl: false,
        fullscreenControl: false
    });
    var myLatLng = {lat: $scope.selectedLatitude, lng: $scope.selectedLongitude };
    var marker = new google.maps.Marker({

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmREJ-IjJzv5d1IAHKubBk581OnRslNYw&callback=initMap"
                        async defer></script>-->
            </div>
            <div ng-init="getSign()" class="col-md-4 margine card ng-scope head card12 bigrow">
                <h5 class="head">Lista segnalazioni:</h5>
                <!--<div ng-click="createPoi()" ng-repeat="x in signalations">{{x.value}}</div>-->
                <button id="ad1" ng-repeat="x in signalations" class="addProducts m-1" ng-click="createPoi(x)">{{(x.value.split("|")[2].slice(0,8))+blank+(x.value.split("|")[1].slice(0,8))}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margine card ng-scope head card3">
                <label for="sel1">Stato della segnalazione:</label>
                <select  name="role" ng-init="getStates()" ng-model="selectedState" ng-options="y.value for y in states" class="form-control" id="sel1" >
                </select>
            </div>
            <label for="ad1"> </label>
            <button id="ad1" class="addProducts" ng-click="assignState()">Cambia stato</button>
        </div>
    </div>
</div>
